@media (max-width: 1200px) {
  .card {
    background-color: var(--secondary);
  }
  .contenido {
    color: #4629e7;
  }
}
@media (max-width: 992px) {
  #hero-card {
    flex-direction: column;
    justify-content: center;
  }
  .card {
    background-color: var(--secondary);
    width: 80%;
    height: 400px;
  }
  .contenido {
    color: #4629e7;
  }
}
@media (max-width: 576px) {
  #hero {
    width: 100%;
    height: 300px;
  }
  .hero-info {
    width: 60%;
    height: 70%;
  }

  .box h1 {
    font-size: 20px;
    padding-bottom: 5px;
  }
  .box p {
    font-size: 10px;
  }
  .boton {
    flex-direction: column;
  }
  .boton a {
    font-size: 10px;
    width: 100px;
    padding: 5px 20px 5px 20px;
  }
  .hero-parrafo {
    text-align: center;
    top: 70px;
    left: 0;
    color: #e7ecb7;
    font-size: 15px;
  }
  #hero-card {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  .contacto-info-lista {
    flex-direction: column;
    justify-content: center;
  }
}
